parameters:
  level: '6'
  paths:
    - src
#    - tests
  ignoreErrors:
    -
      identifier: trait.unused
  excludePaths:
    - 'src/Types/Point.php'
    - 'src/Types/GeoPoint.php'
    - 'src/Structures/Collections/ArrayCollection.php'
