parameters:
  level: 'max'
  paths:
    - src
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  excludePaths:
    - 'src/Types/Point.php'
    - 'src/Types/GeoPoint.php'
    - 'src/Structures/Collections/ArrayCollection.php'
